<h2><%= @restaurant.name %></h2>
<p><%=@restaurant.address  %></p>
<p><%=@restaurant.phone_number %></p>
<p><%=@restaurant.category  %></p>
<p><%= link_to "back to all restaurants", restaurants_path  %></p>



<h3>Review this restaurant</h3>
<%= simple_form_for [@restaurant, @review] do |f|%>
  <%= f.input :content %>
  <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
  <%= f.button :submit %>
<% end %>

<h3>Reviews for this restaurant</h3>
<% @reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
  <% end %>
